:root {
  --font-family: Inter var, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
  --font-size: 12px;

  --bg-header: #f4f4f4;

  --bg-label: #82c786;

  --bg-kanban-column: #e9ebef;
  --bg-kanban-card: #f4f4f4;
}
